{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}
<div class="container my-4">
    <div id="carouselExampleSlidesOnly" class="carousel_slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="https://source.unsplash.com/1500x600/?icecream" class="d-block w-100" alt="...">

          <div class="carousel-caption d-none d-md-block">
            <h5>Welcome to my Ice-Cream site</h5>
            <p>We serve love with our Ice-Cream</p>
          </div>
          </div>
          <div class="carousel-item">
            <img src="https://source.unsplash.com/1500x600/?icecream" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://source.unsplash.com/1500x600/?icecream" class="d-block w-100" alt="...">
          </div>
        </div>
    </div>
</div>

<div class="container" my-4>
  <h1 class="my-2 text-center">Select from our range of ice-creams</h1>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm">
        <img src="https://source.unsplash.com/300x200/?girl" class="d-block w-100" alt="...">

        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="https://source.unsplash.com/300x200/?boy" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="https://source.unsplash.com/300x200/?nature" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <img src="https://source.unsplash.com/300x200/?family" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>

      <div class="card shadow-sm">
        <img src="https://source.unsplash.com/300x200/?chocolate" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}